<!-- extend layout -->
{% extends "layout.html" %}

{% block sidebar %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="span9">
        <h1>Edit</h>
    </div>
    <div class="span9">
        <form action="" method='post' name='post'>
            {{form.hidden_tag()}}
            {{form.post2.process_data (article.p_content)}}

            <table>
                <tr>
                    <td>Title:</td>
                    <td>{{form.post1(value=article.p_title, size = 30, maxlength = 1024) }}</td>
                </tr>
                <tr>
                    <td>Content:</td>
                    <td>{{form.post2(row=30, col=50, maxlength = 1024) }}</td>
                    
                </tr>
                <tr>
                    <td></td>
                    <td><input type='submit' value="Edit"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}
